<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.roberto.humansafari">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAHOh_Sg8o32duEkeWUK34g3epYjGEzhT8" />

        <activity android:name=".HomeActivity" />
        <activity android:name=".CameraActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MapActivity" />
        <activity android:name=".FoundHistoricalActivity" />
        <activity android:name=".ListCharacter" />
        <activity android:name=".JoinGameActivity" />
        <activity android:name=".ListRankActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PlayerChooseGameActivity" />
        <activity android:name=".MasterChooseGameActivity" />
        <activity android:name=".CreateGameActivity" />
        <activity
            android:name=".MasterMainActivity"
            android:label="@string/title_activity_master_main"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
    </application>

</manifest>