<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.roberto.humansafari">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAHOh_Sg8o32duEkeWUK34g3epYjGEzhT8" />

        <activity android:name=".activity.HomeActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.MapActivity" />
        <activity android:name=".activity.FoundHistoricalActivity" />
        <activity android:name=".activity.ListCharacterActivity" />
        <activity android:name=".activity.JoinGameActivity" />
        <activity android:name=".activity.ListRankActivity" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.PlayerChooseGameActivity" />
        <activity android:name=".activity.ListGameMasterActivity" />
        <activity android:name=".activity.CreateGameActivity" />
        <activity
            android:name=".activity.MasterMainActivity"
            android:label="@string/title_activity_master_main"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".activity.NewCharacterActivity" />
        <activity android:name=".activity.CharacterLogin" />
        <activity android:name=".activity.QrcodeActivity"></activity>
    </application>

</manifest>